.mainMessageBox {
	width: 600px;
	border: 2px solid black;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
}

h4 {
	margin-left: 10px;
}

hr {
  border: 1px solid black;
}

p {
	margin-left: 10px;
	font-size: 20px;
  line-break: auto;
}